extends layout.pug

block content 
  body          
    h1 New Book
    form(action="/books/new" method="POST")  

      -if(loadError)
        h2(class="error") Oooops!
          ul(class="error")
            -if(emptyTitle)
              li Title is required
            -if(emptyAuthor)
              li Author is required
      p
        label(for="title")  Title
        input(type="text",id="title",name="title")
      p
        label(for="author")  Author
        input(type="text",id="author",name="author")
      p
        label(for="genre")  Genre
        input(type="text",id="genre",name="genre")
      p
        label(for="year")  Year
        input(type="text",id="year",name="year")
      p
        input(type="submit",value="Create New Book")
      p
        a(href="/",class="button")  Cancel
          
                
                
        

      

